/* Header */
.header {
  border-bottom: 1px solid var(--clr-border);
  padding: var(--space-3) var(--space-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--clr-bg);
  z-index: 9999;
}

.header a {
  color: var(--clr-text);
  font-weight: 500;
  font-size: 0.875rem;
}

.header-logo {
  width: 40px;
  padding: 0 10px;
}

.header-items {
  display: flex;
  flex: 1 1 0%;
  gap: 2rem;
  justify-content: end;
}

.respo-header-items {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-items {
    display: none !important;
  }

  .respo-header-items {
    display: flex;
  }
}


.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--clr-primary);
  transition: width .3s ease;
}

.nav-link:hover::after {
  width: 100%;
}